#   ________
#  /_  __/ /_  __  _________  ______ ___
#   / / / __ \/ / / / ___/ / / / __ `__ \
#  / / / / / / /_/ / /  / /_/ / / / / / /
# /_/ /_/ /_/\__, /_/   \__,_/_/ /_/ /_/
#           /____/
#
# Filename:   .gitconfig
# Github:     https://github.com/Thyrum/dotfiles
# Maintainer: Thyrum (Aron de Jong)

[user]
	name  = Aron de Jong
	email = a.de.jong.6@umail.leidenuniv.nl
[push]
	default = simple
	recurseSubmodules = check
[core]
	editor       = vim
	excludesfile = /vol/home/s2120437/.gitignore_global
[alias]
	last  = log -1 HEAD
	graph = log --oneline --graph
	st    = status
	d     = diff
	dc    = diff --cached
	b     = branch -v
[fetch]
	recurseSubmodules = on-demand
[status]
	submoduleSummary = true
[submodule]
	recurse = true
